<section>
  <%# <p>Total price: $<%= @category.total_price %>
  <% unless @payments.empty? %>
    <%= render 'list' %>
  <% else %>
    <p>No payments available</p>
  <% end %>
  <%= link_to 'Add a new payment', new_payment_path, class: 'btn bg-sec w-100 text-light' %>
</section>