/* Unfortunately the proxima nova font is not available for free */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Proxima nova', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  color: #434b54;
}

.bg-pri {
  background: #3778c2 !important;
}

.bg-sec {
  background: #5fb523 !important;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

a {
  color: #252f3a !important;
}

main > section {
  min-height: 70vh;
}

ul {
  list-style-type: none;
  padding: 0 !important;
}
